# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/
ENV/
venv/

# macOS
.DS_Store

# Logs
*.log
# Project data and cache
.cache/
datasets_cache/
*.parquet
*.arrow
checkpoints/
